LANG=en_US.utf8
TZ=UTC
CEPH_CONTAINER_VERSION=v4.0.12-stable-4.0-nautilus-centos-7-x86_64
VOLUMES_PATH=./ceph
OSD_PATH=./osds
DASHBOARD_PORT=8443
INTERNAL_DASHBOARD_PORT=8443
RGW_PORT=8080
MON1_IP=172.18.0.2
MON1_CEPH_PUBLIC_NETWORK=172.18.0.0/16
OSD1_IP=172.18.0.11
OSD2_IP=172.18.0.12
OSD3_IP=172.18.0.13
